﻿@model Bingaling.Models.LatLng

<div id="MainWrap" class="full-container flex-container" @*ng-app="angular-mvc-app"*@ ng-controller="HomeController as locationsVm">

    <!--Left hand content, displaying sidebar-->
    <div id="sidebar" class="sidebar flex-item">
        <hr />
        <h4>Entries</h4>
        <button type="button" ng-click="locationsVm.newEntry()" class="btn btn-default">Add</button>
        <button type="button" ng-click="locationsVm.zoomMap()" class="btn btn-default">Fit Map</button>

        <table id="entriesTable" class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.lat)</th>
                <th>@Html.DisplayNameFor(m => m.lat)</th>
                <th></th>
            </tr>

            <tr ng-repeat="entry in locationsVm.entries">
                <td class="latText">{{entry.lat}}</td>
                <td class="lngText">{{entry.lng}}</td>
                <td>
                    <a href="#0" type="button" class="editDetail" ng-click="locationsVm.updateEntry(entry)">Edit</a> |
                    <a href="#0" type="button" class="editDetail" ng-click="locationsVm.deleteEntry(entry)">Delete</a>
                </td>
            </tr>
        </table>
    </div>

    <!--Right hand content, displaying map-->
    <div id="myMap" class="flex-item">
        <script type='text/javascript'>
            function mapLoaded() {
                // On Chrome, we have to wait for the map loading to complete before
                // starting the angular app.
                angular.element(document).ready(function () {
                    angular.bootstrap(document, ['angular-mvc-app']);
                });
            }
        </script>
    </div>

    <!--Modal content that will show when editing a lat lng item.-->
    <script type="text/ng-template" id="latLngEntryModal.html">
        <form name="form.latlng" ng-submit="latLngModalVm.save()" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{(latLngModalVm.latLng.ID ? 'Edit' : 'Add')}}</h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label for=""></label>
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.lat, htmlAttributes: new { @class = "control-label" })
                            <input type="number" class="form-control" id="lat" name="latField" ng-model="latLngModalVm.latLng.lat"
                                   min="-90.0" max="90.0" required />
                            <span ng-show="form.latlng.latField.$error.min || form.latlng.latField.$error.max">
                                The value must be in range 90 to 90!
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.lng, htmlAttributes: new { @class = "control-label" })
                            <input type="number" class="form-control" id="lng" name="lngField" ng-model="latLngModalVm.latLng.lng"
                                   min="-180.0" max="180.0" required" />
                            <span ng-show="form.latlng.lngField.$error.min || form.latlng.lngField.$error.max">
                                The value must be in range -180 to 180!
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="latLngModalVm.cancel()">Close</button>
                <button type="submit" class="btn btn-primary save-btn">Save</button>
            </div>
        </form>
    </script>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/controllers")

    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=mapLoaded' async defer'></script>
}