﻿html {
    height: 100%;
}

body {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.flex-container {
    display: flex;
    height: 100%;
}

.flex-item {
    flex: 1;
    height: 100%;
}

.full-container {
    width: 100%;
    height: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: row;
}

.sidebar {
    max-width: 300px;
    min-height: 100%;
    padding: 10px;
}

.content {
}

